body {
    font-family: Dreamy;
    font-size: 16.5px;
    line-height: 1.2rem;
	font-weight: bold;
	background-color: #000000;
    color: #ffef00;
}

@font-face {
  font-family: 'Dreamy';
  src: url('Dreamy.otf);
}


h1, h2, h3, h4, h5 {
    font-size: 22px;
	text-align: center;
    letter-spacing: 2px;
	background: linear-gradient(to left, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
    border-bottom: 2px dashed #ff00f5;
	line-height: 2;
	
}

h2 {
    border-bottom: 2px dashed #ff00f5;
    margin-top: 2rem;
}

h5 {
    margin-top: 2rem;
}

h6 {
    margin-top: 2rem;
	text-align: center;
	font-size: 11px;
}

hr {
    border: none;
    height: 1px;
    background: #000000;
    margin: 24px 0;
    display: block;
}

.post img {
    width:  400px;
    height: auto;
}

.wrapper {
    width: 889px;
    margin: auto;
}
.header {
    position: absolute;
    width: 889px;
    height: 165px;
}

.character {
    z-index: -5;
    position: absolute;
    right: 3px;
    top: -2px;
    pointer-events: none;
}

.site-title {
    letter-spacing: 2px;
    margin-top: 48px;
    font-size: 12px;
}

.site-title a {
    color: #ffef00;
    text-decoration: none;
}

.site-subtitle {
    font-size: 9px;
    height: 22px;
    margin-top: -4px;
    color: #6893a4;
    letter-spacing: 1px;
}

.menu ul {
    margin:  0;
    padding:  0;
}

.menu li {
    display: inline-block;
    margin-right: 3px;
    position: relative;
}

.menu {
    text-transform: uppercase;
    margin-top: 24px;
    margin-left: 6px;
	line-height: 1px;
    z-index: 5;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #000000;
    width: 128px;
    height: 39px;
    line-height: 58px;
    text-align: center;
    display: inline-block;
    background-image: url('img/button-inactive.png');
    letter-spacing: 1px;
}

.menu a.active {
    color: #2B345B;
    background-image: url('img/button-active.png');
}

.menu a:hover {
	background-image: url('img/button-active.png');
}

a.disabled {
    cursor: default;
    opacity: 0.3;
}

a.disabled:hover {
    text-decoration: none;
    background: transparent;
    cursor: default;
}


code {
    background: #000000;
    padding: 2px 4px;
    border-radius: 4px;
}

pre {
    background: #000000;
    padding: 2px 4px;
    border-radius: 4px;
    white-space: break-spaces;
}

.sidebar {
    padding: 12px;
    font-size: 13px;
    min-width: 150px;
    width: 150px;
    min-height: 640px;
    padding-left: 0;
}

.post h2 a {
    color:  inherit;
    text-decoration: none;
}

.page {
    background: transparent;
}

ul.checklist {
    padding: 0 1rem;
    margin: 0;
    margin-bottom: 2rem;
}

.sidebar a {
    color: inherit;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.page img {
    max-width: 100%;
}

.back-to-home {
    margin: 2rem 0;
    display: block;
    text-align: center;
}

.content img + img {
    margin-top: 6px;
	
}

.window-frame {
    background-image: url('img/window-frame.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 889px;
    height: 165px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
}
.window-left {
    background-image: url('img/window-left.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 444px;
    height: 147px;
}
.window-right {
    background-image: url('img/window-right.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 444px;
    height: 147px;
    position: absolute;
    top: 0;
    right: 0;
}
.outside {
    background-image: url('img/window-background.png');
    background-repeat: no-repeat;
    position: absolute;
    z-index: -5;
    top: 10px;
    left: 10px;
    height: 100%;
    width: 100%;

}
.window-draggable-area {
    position: absolute;
    height: 10px;
    top:  10px;
    left: 10px;
    right: 10px;
}


iframe {
    border: none;
	background: none;
    height: 100%;
    width: 100%;
}

html, body {
    scrollbar-width: auto; 
    scrollbar-color: #ffef00 #000000;
}

/* WebKit-based browsers (Chrome, Safari, newer Edge) */
::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: #2c3e50;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #6fa3a9;
    border-radius: 10px;
    border: 3px solid #2c3e50;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #d9e2c6;
}

body.sidebar {
    background-color: #000000;
    padding: 0;
    margin: 2;
}

body.header {
    background-color: transparent;
    padding: 0;
    margin-top: 270px;
	
}

body.header {
    overflow: hidden;
}

iframe[name=header] {
    height: 333px;
    width: 910px;
    margin-bottom: -90px;
    z-index: 3;
    position: relative;
}

.width-50 {
    width: 50%;
}

.border {
    border: 1px solid #000000;
}

.border-0 {
    border: none;
}

.content a {
    color: #4fff46;
}

th {
    background: #90b291;
}

th, td {
    padding: 3px 6px;
    border: 1px solid #364974;
    vertical-align: top;
}

table.border-0 th, table.border-0 td {
    border: 0;
}
